*.psd filter=lfs diff=lfs merge=lfs -text
.vs/demo/v15/Browse.VC filter=lfs diff=lfs merge=lfs -text
.vs/demo/v16/Browse.VC filter=lfs diff=lfs merge=lfs -text
.vs/demo/v17/Browse.VC filter=lfs diff=lfs merge=lfs -text
MVGigE.dll filter=lfs diff=lfs merge=lfs -text
.vs/demo/v17/ipch/2d3a2c49d2f066b6.ipch filter=lfs diff=lfs merge=lfs -text
.vs/demo/v17/ipch/8ad3717d43e2c06c.ipch filter=lfs diff=lfs merge=lfs -text
.vs/demo/v17/ipch/49fa1325e08687f8.ipch filter=lfs diff=lfs merge=lfs -text
.vs/demo/v17/ipch/93e0d5402888af80.ipch filter=lfs diff=lfs merge=lfs -text
.vs/demo/v17/ipch/254459c358a60564.ipch filter=lfs diff=lfs merge=lfs -text
.vs/demo/v17/ipch/fab9933f355661b3.ipch filter=lfs diff=lfs merge=lfs -text
.vs/demo/v17/ipch/e24c998da632a08c.ipch filter=lfs diff=lfs merge=lfs -text
.vs/demo/v15/ipch/AutoPCH/d791bcf66713d93a/PCH.ipch filter=lfs diff=lfs merge=lfs -text
.vs/demo/v16/ipch/254459c358a60564.ipch filter=lfs diff=lfs merge=lfs -text
.vs/demo/v16/ipch/e24c998da632a08c.ipch filter=lfs diff=lfs merge=lfs -text
