*.psd filter=lfs diff=lfs merge=lfs -text
.vs/demo/v15/Browse.VC filter=lfs diff=lfs merge=lfs -text
.vs/demo/v16/Browse.VC filter=lfs diff=lfs merge=lfs -text
.vs/demo/v17/Browse.VC filter=lfs diff=lfs merge=lfs -text
MVGigE.dll filter=lfs diff=lfs merge=lfs -text
